{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="container col-md-5 m-auto">
        {% if homepage %}
            <h1>Notícias em destaque</h1>
        {% else %}
            <h1>Todas as notícias</h1>
        {% endif %}
        {% for post in posts %}
            <div class="card text-center">
                <div class="card-header">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="card-body">
                    <img src="{{ '/uploads/' ~ post.image }}" alt="">
                    <h5>{{ post.resume }}</h5>
                    <a class="btn btn-primary" href="{{ path('post_show', {'id': post.id}) }}">Saiba mais</a>
                </div>
                <div class="card-footer text-muted">
                    <p>Data: {{ post.date | date("d/m/y") }}</p>
                </div>
            </div>      
            <br>
            <br>
            
        {% endfor %}

        {% if homepage %}
            <a class="btn btn-primary" href="{{ path('post_index') }}">Veja mais noticias</a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('home') }}">Veja notícias em destaque</a>
        {% endif %}
    </div>
{% endblock %}
