{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="container col-md-5 m-auto">
        {% if homepage %}
            <h1>Notícias em destaque</h1>
        {% else %}
            <h1>Todas as notícias</h1>
        {% endif %}
        {% for post in posts %}
            <div>
                <h2>{{post.title}}</h2>
                <p>Data: {{ post.date | date("d/m/y") }}</p>
                <h5>{{ post.resume }}</h5>
                <a href="{{ path('post_show', {'id': post.id}) }}">Saiba mais</a>
                <br>
                <br>
            </div>
        {% endfor %}

        {% if homepage %}
            <a href="{{ path('post_index') }}">Veja mais noticias</a>
        {% else %}
            <a href="{{ path('home') }}">Voltar</a>
        {% endif %}
    </div>
{% endblock %}
